<div class="row">
    <div class="col-md-6">
        <img src="../../../assets/vblog.png" alt="" srcset="" style="object-fit: contain;">
    </div>
    <div class="col-md-6" style="margin-top: 5%;">
    <div class="container">
    <h1>ASSENT COMPLIANCE</h1>
    <form>
        <input type="text" class="form-control" placeholder="Email" required autofocus><br>
        <input type="password" class="form-control" placeholder="Password" required><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    </div>
    </div>
</div>